@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Open+Sans:wght@300;400&family=Phudu:wght@300;400&family=Poppins:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&family=Titillium+Web:ital,wght@1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: black;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.flex {
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.top {
    background-image: url(assets/Title-Image.png);
    background-size: 100% 100%;
    height: 115vh;
    width: 100%;
    box-shadow: 0 10px 50px 10px  black inset;
}

#netflix-txt {
    width: 110px;
    height: 25px;
    margin-right: 10px;
}

.nav-left p {
    margin-left: 15px;
    color: black;
    font-weight: bold;
}

.nav-left {
    justify-content: space-between;
    align-items: center;
}

.navbar {
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 22px;
}
.nav-right{
    align-items: center;
    margin-right: 20px;
}
.nav-right img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

#angrybird {
    height: 37px;
    width: 35px;
}

.big-txt{
    color: white;
    position: absolute;
    margin-top: 360px;
    margin-left: 68px;
}

.netflix-logo{
    width: 20px;
    height: 33px;
    margin-right: 14px;
}
.show-txt{
    font-size: large;
    margin-top: 5px;
}
#Maid{
    font-size: 145px;
    font-weight: bolder;
    margin-left: -10px;
    margin-top: -23px;
}

button{
    align-items: center;
    font-weight: bold;
}
.play{
    background-color: white;
    height: 45px;
    width: 80px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    align-items: center;
    font-weight: bold;
    display: flex;
}
.info{
    background-color: #8C8D91;
    opacity: 70%;
    color: white;
    border: none;
    border-radius: 4px;
    width: 140px;
    height: 45px;
    font-weight: bold;
    display: flex;
}
#play-btn{
    width:18px;
    height: 20px;
    margin-right: 5px;
    margin-left: 10px;
}
#info-btn{
    margin-right: 10px;
    margin-left: 20px;
}

.add{
    position: absolute;
    margin-top: 640px;
    display: flex;
    width: 100vw;
    justify-content: flex-end;
}
.add-png{
    margin-right: 20px;
}

/*------- Middle body css------- */
.main-body{
    margin-top: -115px;
    color: white;
}
.category{
    font-size: larger;
    font-weight: bold;
    margin-left: 68px;
    margin-bottom: 20px;
}
.see-again , .top-10{
    margin-bottom: 60px;
}
.imgs-row{
    margin-right:-109px;
}
.imgs-2nd-row{
    /* margin-right: 30px; */
    margin-left: -20px;
    height: 200px;
    width: 170px;
}
.imgs-2nd-row-1st{
    /* margin-right: 30px; */
    height: 200px;
    width: 170px;
}
.top-png{
    position: absolute;
    margin-left:293px ;
    height: 40px;
    width: 30px;
}



/*----------- Footer css--------- */

.footer{
    width: 100vw;
    background-color: black;
    color: grey;
    font-size: small;
    /* margin-top: 500px; */
}

.foot-ul>li{
    list-style-type: none;
}
.spanish-btn{
    border:solid 1px grey;
    background-color: black;
    height: 50px;
    width: 100px;
    color: grey;
}
.foot-1{
    margin-left: 310px;
}
li{
    margin-bottom: 20px;
}
.foot-2,.foot-3,.foot-4{
    margin-top: 50px;
    margin-right: 150px;
}
.pngs{
    margin-right: 20px;
} 

@media only screen and (max-width:426px){
    /* ---------Navbar----------- */
    .top{
        width: 100vmin;
        height: 70vmax;
        background-repeat: no-repeat;
        box-shadow: none;
    }
    #netflix-txt{
        margin-right: 0;
        width: 80px;
        height: 20px;
    }
    .nav-left p{
        display: none;
    }
    .navbar{
        padding-left: 15px;
        padding-top: 10px;    
    }
    .nav-right{
        margin: 0;
    }
    .nav-right img{
        height: 18px;
        width: 18px;
        margin-right: 10px;
    }
    #angrybird {
        height: 25px;
        width: 23px;
    }
    .big-txt{
        margin-top: 200px;
        margin-left: 30px;
    }
    #Maid{
        font-size: 85px;
    }
    .play{
        width: 68px;
        height: 35px;
    }
    .info{
        width: 100px;
        height: 35px;
    }
    #info-btn{
        margin-left: 6px;
        margin-right: 5px;
    }

    /* ---------Middle body-------- */

    .main-body{
        margin-top: -50px;
    }
    .category{
        font-size: 20px;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .items{
        flex-direction: column;
    }
    .see-again , .top-10{
        margin-bottom: 80px;
    }
    .imgs-row{
        width: 85vmax;
        height: 30vmax;
        margin-left:-62px;
        margin-bottom: 50px;
    }
    /* .imgs-2nd-row{
        margin-left: 0px;
    } */
    .top-png{
        margin-left:375px ;
    }
    #six-rank{
        display: none;
    }
    .rank{
        margin-left: 60px;
    }
    .add{
        margin-top: 380px;
    }
    /* footer css */
    .footer{
        width: 25vmax;
    }
    .foot-1{
        margin-left: 10px;
    }
    .foot-1, .foot-3, .foot-4{
        margin-right: 10px;
    }
    .foot-3{
        margin-left: -120px;
    }
}
@media only screen and (max-width:376px){
    .top{
        width: 100vmin;
        height: 70vmax;
        background-repeat: no-repeat;
        box-shadow: none;
    }
    .imgs-row{
        width: 70vmax;
        height: 28vmax;
        margin-left:-40px;
        margin-bottom: 50px;
    }
    .rank{
        margin-left: 40px;
    }
    .top-png{
        margin-left:320px ;
    }
    .footer{
        font-size: 13px;
        width: 25vmax;
    }
    .foot-2{
        margin-left: -44px;
    }
    .foot-3{
        margin-left: -140px;
    }
}
@media only screen and (max-width:320px){
    .top{
        width: 100vmin;
        height: 70vmax;
        background-repeat: no-repeat;
        box-shadow: none;
    }
    .imgs-row{
        width: 63vmax;
        height: 25vmax;
        margin-left:-40px;
        margin-bottom: 50px;
    }
    .rank{
        margin-left: 13px;
    }
    .top-png{
        margin-left:275px ;
    }
    .footer{
        font-size: 10px;
        width: 25vmax;
    }
    .foot-2{
        margin-left: -44px;
    }
    .foot-3{
        margin-left: -140px;
    }
}

